<p style="margin-top: 52px;"></p>

<ng-container>
  <h2 class="m-2">Filter</h2>

  <h3 class="m-2">Start Date</h3>
  <div class="col-10 input">
    <input type="datetime-local" class="form-control" [(ngModel)]="startDate">
  </div>
  
  <h3 class="m-2">End Date</h3>
  <div class="col-10 input">
    <input type="datetime-local" class="form-control" [(ngModel)]="endDate">
  </div>

  <button class="btn btn-danger col-2 m-2" (click)="resetFilter()">Reset filter</button>

</ng-container>

<h2 class="m-2">Visits</h2>
<ng-container>
    <div class="d-flex flex-column justify-content-center items m-1 p-1">
      <div class="item m-2 p-2 border" *ngFor="let visit of visits | getVisitByDates: startDate:endDate">
        <div class="name col-8 ">
          <span style="font-weight: bold;">Data rozpoczęcie wizyty: {{visit.startDate | date: 'HH:mm dd/MM/yyyy'}}</span><br>
          <span style="font-weight: bold;">Data zakończenia wizyty: {{visit.endDate | date: 'HH:mm dd/MM/yyyy'}}</span><br>
          <span style="font-weight: bold;">Lekarz: dr. {{findDoctorName(visit.doctorKey)}} </span>
        </div>
        <button class="btn btn-primary col-3" (click)="addVisit(visit.key)">Reserve</button>
      </div>
    </div>
</ng-container>
