<p style="margin-top: 52px;">Zarządzanie receptami</p>

<div class="flex-box col-10 col-md-5">
    <a class = "nav-link" routerLink="/create-prescription">
        <img src="assets/images/book-visit.png" class="img-fluid">
        <div class="sign">Stwórz receptę</div>
    </a>
</div>

<div class="flex-box col-10 col-md-5">
    <a class = "nav-link" routerLink="/prescription-list">
        <img src="assets/images/book-visit.png" class="img-fluid">
        <div class="sign">Przeglądaj recepty</div>
    </a>
</div>