<div class="buttons col-11 col-md-6">
  <h1>Admin Panel</h1>
  <div class="buttons-item col-12">
    <button class="btn btn-primary" (click)="changeVisible(0)">Add Doctor</button>
    <button class="btn btn-danger" (click)="changeVisible(2)">Delete Doctor</button>
  </div>
  <div class="buttons-item col-12">
    <button class="btn btn-primary" (click)="changeVisible(1)">Add Patient</button>
    <button class="btn btn-danger" (click)="changeVisible(3)">Delete Patient</button>
  </div>
  <div class="buttons-item col-12">
    <button class="btn btn-primary" (click)="changeVisible(6)">Add Visit</button>
    <button class="btn btn-danger" (click)="changeVisible(7)">Delete Visit</button>
  </div>
</div>

<div class="form-box d-flex flex-column col-11 col-md-4" *ngIf="formAddDoctorVisible || formAddPatientVisible">
  <h1>{{formTitle}}</h1>
  <div class="form">
    <div class="form-row">
        
      <div class="col-10 input">
        <input placeholder="Firstname" class="form-control" [(ngModel)]="firstname">
      </div>
        
      <div class="col-10 input">
        <input placeholder="Lastname" class="form-control" [(ngModel)]="lastname">
      </div>
      
      <div class="col-10 input">
        <input placeholder="Telephone Number" type="tel" class="form-control" [(ngModel)]="telephone">
      </div>
      
      <div class="col-10 input">
        <input placeholder="Email" type="email" class="form-control" [(ngModel)]="email">
      </div>
      
      <ng-container *ngIf="formAddDoctorVisible">
        <div class="col-10 input">
          <input placeholder = "Specialization" class="form-control" [(ngModel)]="specialization">
        </div>
        
        <div class="col-10 input">
          <input placeholder="Office Address" class="form-control" [(ngModel)]="address">
        </div>
      </ng-container>
      
    </div>
    <button class="btn btn-primary btn-block" (click)="addPerson()">Submit</button>
  </div>
</div>

<div class="form-box d-flex flex-column col-11 col-md-4" *ngIf="formAddVisitVisible">
  <h1>Add Visit</h1>
  <div class="form">
    <div class="form-row">

      <div class="col-10 input">
        <select class="form-select w-100" aria-label="Default select example" class="form-control" [(ngModel)]="doctorKey">
            <option selected *ngFor = "let doctor of doctors" value="{{doctor.key}}">dr. {{doctor.firstname}} {{doctor.lastname}}</option>
        </select>
      </div>

      <div class="col-10 input">
        <input type="datetime-local" class="form-control" [(ngModel)]="startDate">
      </div>

      <div class="col-10 input">
        <input type="datetime-local" class="form-control" [(ngModel)]="endDate">
      </div>
      
    </div>
    <button class="btn btn-primary btn-block" (click)="addVisit()">Submit</button>
  </div>
</div>

<ng-container *ngIf="listDoctorsVisible">
  <div class="d-flex flex-column justify-content-center items col-11 col-md-4">
    <div class="item" *ngFor="let doctor of doctors">
      <div class="name col-8">
        <span style="font-weight: bold;">dr. {{doctor.firstname}} {{doctor.lastname}}</span><br>
        <span> {{doctor.email}}</span>
      </div>
      <button class="btn btn-danger col-3" (click)="deleteDoctor(doctor.key)">Delete</button>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="listPatientsVisible">
  <div class="d-flex flex-column justify-content-center items col-11 col-md-4">
    <div class="item" *ngFor="let patient of patients">
      <div class="name col-8">
        <span style="font-weight: bold;">{{patient.firstname}} {{patient.lastname}}</span><br>
        <span> {{patient.email}}</span>
      </div>
      <button class="btn btn-danger col-3" (click)="deletePatient(patient.key)">Delete</button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="listVisitsVisible">
  <div class="d-flex flex-column justify-content-center items col-11 col-md-4">
    <div class="item" *ngFor="let visit of visits">
      <div class="name col-8">
        <span style="font-weight: bold;">Data rozpoczęcie wizyty: {{visit.startDate}}</span><br>
        <span style="font-weight: bold;">Data zakończenia wizyty: {{visit.endDate}}</span><br>
        <span> Doctor: {{getDoctorName(visit.doctorKey)}}</span><br>
        <span> Pacjent: {{getPacientName(visit.patientKey)}}</span>
      </div>
      <button class="btn btn-danger col-3" (click)="deleteVisit(visit.key)">Delete</button>
    </div>
  </div>
</ng-container>